MONGODB_URI=
SERVER_JWT_SECRET=
CLIENT_JWT_SECRET=

PASSWORD_SALT_ROUNDS=12
CLIENT_TOKEN_MAX_AGE_HRS=72
USER_TOKEN_MAX_AGE_HRS=48

# COOKIE
USER_TOKEN_COOKIE=user_access_token
CLIENT_TOKEN_COOKIE=client_access_token

# LOCAL STORAGE
LOCAL_STORAGE_PATH=storage/uploads
LOCAL_STORAGE_PUBLIC_PATH=/uploads
LOCAL_STORAGE_BASE_URL=
